{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %}</title>
<link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "main/css/custom.css" %}">
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="{% static "main/js/bootstrap.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"/></script>
  <script src="{% static "main/js/custom.js" %}"></script>
</body>
</html>