
    <div class="row bg-gray">
      <nav class="d-flex flex-direction-row align-items-center justify-content-end">
        <ul class="d-flex flex-direction-row align-items-center justify-content-end  remove-bullet pe-3">
          <li class="nav-links"><a href="#" class="nav-link p-4">Dashboard</a></li>
          <li class="nav-links"><a href="#" class="nav-link p-4">Attendance</a></li>
          <li class="nav-links"><a href="#" class="nav-link p-4">Profile</a></li>
          <a class="btn btn-warning" href="{% url "logout" %}">Logout</a>
        </ul>
      </nav>
    </div>