{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}
{% block body %}
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid student-title-bg p-3 me-3">
        <h1 class="student-heading text-center">Profile</h1>
      </div>
    </div>
    <div class="row bg-gray">
      <nav class="d-flex flex-direction-row align-items-center justify-content-end">
        <ul class="d-flex flex-direction-row align-items-center justify-content-end  remove-bullet pe-3">
          {% if user.is_staff and user.is_admin %}
            <li class="nav-links"><a href="{% url "admin_dashboard" %}" class="nav-link p-4">Dashboard</a></li>
          {% elif user.is_staff and not user.is_admin %}
            <li class="nav-links"><a href="{% url "teacher_dashboard" %}" class="nav-link p-4">Dashboard</a></li>
          {% else %}
            <li class="nav-links"><a href="{% url "student_dashboard" %}" class="nav-link p-4">Dashboard</a></li>
          {% endif %}
          <li class="nav-links"><a href="#" class="nav-link p-4">Attendance</a></li>
          {% comment %} <p>{{user_id}}</p> {% endcomment %}
          <li class="nav-links"><a href="#" class="nav-link p-4">Profile</a></li>
          <a class="btn btn-warning" href="{% url "logout" %}">Logout</a>
        </ul>
      </nav>
    </div>
    <div class="row"><div class="container my-5 px-5">
      <form >
        {% csrf_token %}
        {{form|crispy}}
      </form>
    </div>
</main>

{% endblock body %}